/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/*font-family: 'Amatic SC', cursive;*/

body {
  background-color: gray;
}

.bg-black {
  background-color: gray;
}

.art-text {
  color: white;
  font-family: Amatic SC;
}

.size-xl {
  font-size: 40px;
}

.size-l {
  font-size: 30px;
}

.size-s {
  font-size: 24px;
}

.no-overflow {
  overflow: hidden;
}

img {
  border: 15px solid #000;
  max-height: 66vh;
}

.max-height {
  max-height: 24vh;
}
